{% extends '::frontend.html.twig' %}

{% block body -%}
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 com-md-12">
            <h2><a href="{{ path('ubicacion') }}">
               Ubicacion:
                </a>
                Vista 
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-eye font-yellow"></i>
                        <span class="caption-subject font-yellow bold uppercase">Caracteristicas</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="general-item-list">

                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Equipo:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.equipo }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Calle:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.calle }} 
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Numero Exterior:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.numeroExt }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Numero Interior:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.numeroInt }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Codigo Postal:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.codigoPostal }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Colonia:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.colonia }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Localidad:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.localidad }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Pais:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.pais }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Estado:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.estado }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Municipio:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.municipio }}
                                </div>
                            </div>
                        </div><br />


                        {{ form(delete_form) }}
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
