<!DOCTYPE html>
<html lang="en">

    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
        
        <link href="{{ asset('public/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/morris/morris.css') }}" rel="stylesheet" type="text/css" />
        
        <link href="{{ asset('public/global/css/components.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ asset('public/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />
       
        <link href="{{ asset('public/layouts/layout2/css/layout.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/layouts/layout2/css/themes/blue.min.css') }}" rel="stylesheet" type="text/css" id="style_color" />
       

        {#<link href="{{ asset('public/layouts/layout2/css/custom.min.css') }}" rel="stylesheet" type="text/css" />
        
        <link href="{{ asset('public/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css" />#}

        <link rel="shortcut icon" href="favicon.ico" /> 
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="index.html">
                        <img src="../assets/layouts/layout2/img/logo-default.png" alt="logo" class="logo-default" /> </a>
                    <div class="menu-toggler sidebar-toggler">
                        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                
                <div class="page-actions">
                    <div class="btn-group">
                        <button type="button" class="btn btn-circle btn-outline red dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-plus"></i>&nbsp;
                            <span class="hidden-sm hidden-xs">Nuevo&nbsp;</span>&nbsp;
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ path('avisos')}}">
                                    <i class="icon-tag"></i> Nuevo aviso</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END PAGE ACTIONS -->
                <!-- BEGIN PAGE TOP -->
                <div class="page-top">
    
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                           
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="../assets/layouts/layout2/img/avatar3_small.jpg" />
                                    <span class="username username-hide-on-mobile"> {{ app.user.username |capitalize }} </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="{{ path ('logout')}}">
                                            <i class="icon-key"></i> Log Out </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END PAGE TOP -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- END SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        {% if is_granted('ROLE_VENTAS') %}
                        <li id="cliente" class="nav-item">
                            <a href="" class="nav-link nav-toggle">
                                <i class="fa fa-diamond"></i>
                                <span class="title">Cliente</span>
                                <span class="arrow"></span>
                                <span id="cli" class=""></span>
                            </a>
                             <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="{{ path('cliente') }}" class="nav-link ">
                                        <span class="title">Nuevo Cliente</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{ path('rangocliente') }}" class="nav-link ">
                                        <span class="title">Rango de cliente</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="empresa" class="nav-item">
                            <a href="{{ path('empresa') }}" class="nav-link nav-toggle">
                                <i class="fa fa-users"></i>
                                <span class="title">Empresa</span>
                                <span id="emp" class=""></span>
                            </a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_SOPORTE') %}
                        <li id="fabricante" class="nav-item">
                            <a href="{{ path('fabricante') }}" class="nav-link nav-toggle">
                                <i class="fa fa-industry"></i>
                                <span class="title">Fabricante</span>
                                <span id="fab" class=""></span>
                            </a>
                        </li>
                        {% endif %}
                        <li id="personal" class="nav-item ">
                            <a href="" class="nav-link nav-toggle">
                                <i class="fa fa-user"></i>
                                <span class="title">Personal</span>
                                <span class="arrow"></span>
                                <span id="per" class=""></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{{ path('personal') }}" class="nav-link ">
                                        <span class="title">Nuevo Personal</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{ path('puesto') }}" class="nav-link ">
                                        <span class="title">Puesto</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{ path('usuarios') }}" class="nav-link ">
                                        <span class="title">Usuario</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% if is_granted('ROLE_VENTAS') %}
                        <li id="producto" class="nav-item ">
                            <a href="" class="nav-link nav-toggle">
                                <i class="fa fa-tags"></i>
                                <span class="title">Producto</span>
                                <span class="arrow"></span>
                                <span id="pro" class=""></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="{{ path('producto') }}" class="nav-link ">
                                        <span class="title">Nuevo Producto</span>
                                    </a>
                                </li>                                                                                                                       
                                <li class="nav-item">
                                    <a href="{{ path('termino') }}" class="nav-link ">
                                        <span class="title">Nuevo Termino</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="venta" class="nav-item">
                            <a href="" class="nav-link nav-toggle">
                                <i class="fa fa-opencart"></i>
                                <span class="title">Venta</span>
                                <span class="arrow"></span>
                                <span id="ven" class=""></span>
                            </a>
                             <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="{{ path('venta') }}" class="nav-link ">
                                        <span class="title">Nueva Venta</span>
                                    </a>
                                </li>                                                                                                                       
                                <li class="nav-item">
                                    <a href="{{ path('licenciaequipo') }}" class="nav-link ">
                                        <span class="title">Licencia Equipo</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        <li id="equipo" class="nav-item">
                            <a href="" class="nav-link nav-toggle">
                                <i class="fa fa-hdd-o"></i>
                                <span class="title">Equipo</span>
                                <span class="arrow"></span>
                                <span id="equ" class=""></span>
                            </a>
                            <ul class="sub-menu">
                                {% if is_granted('ROLE_SOPORTE') %}
                                <li class="nav-item">
                                    <a href="{{ path('equipo') }}" class="nav-link ">
                                        <span class="title">Nuevo</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('caracteristicasequipo') }}" class="nav-link ">
                                        <span class="title">Caracteristicas</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link ">
                                        <span class="title">Componentes</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item ">
                                            <a href="{{ path('memoriaram') }}" class="nav-link "> Memoria Ram</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{{ path('discoduro') }}" class="nav-link "> Disco Duro </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{{ path('procesador') }}" class="nav-link "> Procesador </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{{ path('dimensiones') }}" class="nav-link "> Dimensiones </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{{ path('modeloequipo') }}" class="nav-link "> Modelo Equipo </a>
                                        </li>
                                        <li class="nav-item ">
                                            <a href="{{ path('versionsoftware') }}" class="nav-link "> Software </a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}
                                <li class="nav-item  ">
                                    <a href="{{ path('ubicacion') }}" class="nav-link ">
                                        <span class="title">Instalacion</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="avisos" class="nav-item">
                            <a href="" class="nav-link nav-toggle">
                                <i class="fa fa-commenting-o"></i>
                                <span class="title">Avisos</span>
                                <span class="arrow"></span>
                                <span id="avi" class=""></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{{ path('avisos') }}" class="nav-link ">
                                        <span class="title">Nuevo Aviso</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{ path('nuevo_aviso') }}" class="nav-link ">
                                        <span class="title">Mis Avisos</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="general" class="nav-item">
                            <a href="" class="nav-link nav-toggle">
                                <i class="fa fa-gears"></i>
                                <span class="title">General</span>
                                <span class="arrow"></span>
                                <span id="gen" class=""></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{{ path('pais') }}" class="nav-link ">
                                        <span class="title">Pais</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{ path('estado') }}" class="nav-link ">
                                        <span class="title">Estado</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{ path('municipio') }}" class="nav-link ">
                                        <span class="title">Municipio</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{ path('estatus') }}" class="nav-link ">
                                        <span class="title">Estatus</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{ path('roles') }}" class="nav-link ">
                                        <span class="title">Roles</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="theme-panel">
                        <div class="toggler tooltips" data-container="body" data-placement="left" data-html="true" data-original-title="Click to open advance theme customizer panel">
                            <i class="icon-settings"></i>
                        </div>
                        <div class="toggler-close">
                            <i class="icon-close"></i>
                        </div>
                        <div class="theme-options">
                            <div class="theme-option theme-colors clearfix">
                                <span> THEME COLOR </span>
                                <ul>
                                    <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default"> </li>
                                    <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey"> </li>
                                    <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue"> </li>
                                    <li class="color-dark tooltips" data-style="dark" data-container="body" data-original-title="Dark"> </li>
                                    <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light"> </li>
                                </ul>
                            </div>
                        </div>
                    </div><br /><br />

                 
                    {% block body %}
                    {% endblock %}
                </div>
                <!-- END CONTENT BODY -->

            </div>

        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner"> 2016 &copy; CRM by
                <a href="http://www.warriorslabs.com" title="Warriorslabs" target="_blank">WarriorsLabs.</a>
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
        
        <!-- BEGIN CORE PLUGINS -->
        <script src="{{ asset('public/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/uniform/jquery.uniform.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
        
        <script src="{{ asset('public/global/plugins/bootstrap-daterangepicker/moment.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/bootstrap-daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/morris/morris.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/morris/raphael-min.js') }}" type="text/javascript"></script>
        {#<script src="{{ asset('public/global/plugins/counterup/jquery.waypoints.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/counterup/jquery.counterup.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/amcharts/amcharts/amcharts.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/amcharts/amcharts/serial.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/amcharts/amcharts/pie.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/amcharts/amcharts/radar.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/amcharts/amcharts/themes/light.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/amcharts/amcharts/themes/patterns.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/amcharts/amcharts/themes/chalk.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/amcharts/ammap/ammap.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/amcharts/ammap/maps/js/worldLow.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/amcharts/amstockcharts/amstock.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/fullcalendar/fullcalendar.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/flot/jquery.flot.resize.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/flot/jquery.flot.categories.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/jquery.sparkline.min.js') }}" type="text/javascript"></script>#}
        
        <script src="{{ asset('public/global/scripts/datatable.js')}}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/datatables/datatables.min.js')}}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js')}}" type="text/javascript"></script>
        <script src="{{ asset('public/global/scripts/app.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/pages/scripts/table-datatables-managed.min.js')}}" type="text/javascript"></script>
        
        <script src="{{ asset('public/pages/scripts/dashboard.min.js') }}" type="text/javascript"></script>
       
        <script src="{{ asset('public/layouts/layout2/scripts/layout.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/layouts/layout2/scripts/demo.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/layouts/global/scripts/quick-sidebar.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/mifuncion.js') }}" type="text/javascript"></script> 

       

     {% block javascripts %}{% endblock javascripts %}

        <script type="text/javascript">

        jQuery(document).ready(function(){
            var url = window.location.pathname;
            var cliente = "{{ path('cliente') }}";
            var rango = "{{ path('rangocliente') }}";
            var empresa = "{{ path('empresa') }}";
            var fabricante = "{{ path('fabricante') }}";
            var producto = "{{ path('producto') }}";
            var termino = "{{ path('termino') }}";
            var personal = "{{ path('personal')}}";
            var puesto = "{{ path('puesto') }}";
            var usuario = "{{ path('usuarios') }}";
            var ventas = "{{ path('venta') }}";
            var licencia = "{{ path('licenciaequipo') }}";
            var equipos = "{{ path('equipo') }}";
            var caracteristicas = "{{ path('caracteristicasequipo') }}";
            var memoria = "{{ path('memoriaram') }}";
            var disco = "{{ path('discoduro') }}";
            var procesador = "{{ path('procesador') }}";
            var dimensiones = "{{ path('dimensiones') }}";
            var modelo = "{{ path('modeloequipo') }}";
            var software = "{{ path('versionsoftware') }}";
            var ubicacion = "{{ path('ubicacion') }}";
            var pais = "{{ path('pais') }}";
            var municipio = "{{ path('municipio') }}";
            var estado = "{{ path('estado') }}";
            var estatus = "{{ path('estatus') }}";
            var aviso = "{{ path('avisos') }}"
            var miAviso = "{{ path('nuevo_aviso') }}"
            var roles = "{{ path('roles') }}";

            switch (url){
                case rango:
                    var cliente = rango;
                    break; 
                case personal:
                    var persona = personal;
                    break;
                case puesto:
                    var persona = puesto;
                    break;
                case usuario:
                    var persona = usuario;
                    break;
                case termino:
                    var producto = termino;
                    break;
                case ventas:
                    var venta = ventas;
                    break;
                case licencia:
                    var venta = licencia;
                    break;
                case equipos:
                    var equipo = equipos;
                    break;
                case caracteristicas:
                    var equipo = caracteristicas;
                    break;
                case memoria:
                    var equipo = memoria;
                    break;
                case disco:
                    var equipo = disco;
                    break;
                case procesador:
                    var equipo = procesador;
                    break;
                case dimensiones:
                    var equipo = dimensiones;
                    break;
                case modelo:
                    var equipo = modelo;
                    break;
                case software:
                    var equipo = software;
                    break;
                case ubicacion:
                    var equipo = ubicacion;
                    break;
                case pais:
                    var general = pais;
                    break;
                case municipio:
                    var general = municipio;
                    break;
                case estado:
                    var general = estado;
                    break;
                case estatus:
                    var general = estatus;
                    break;
                case roles:
                    var general = roles;
                    break;
                case miAviso:
                    var aviso = miAviso;
                    break;
            }
        
            switch (url){
                case cliente:
                    jQuery('#cliente').addClass('start active open');
                    jQuery('#cli').addClass('selected');
                    break;
                case empresa:
                    jQuery('#empresa').addClass('start active open');
                    jQuery('#emp').addClass('selected');
                    break;
                case fabricante:
                    jQuery('#fabricante').addClass('start active open');
                    jQuery('#fab').addClass('selected');
                    break;
                case persona:
                    jQuery('#personal').addClass('start active open');
                    jQuery('#per').addClass('selected');
                    break; 
                case producto:
                    jQuery('#producto').addClass('start active open');
                    jQuery('#pro').addClass('selected');
                    break;
                case venta:
                    jQuery('#venta').addClass('start active open');
                    jQuery('#ven').addClass('selected');
                    break;
                case equipo:
                    jQuery('#equipo').addClass('start active open');
                    jQuery('#equ').addClass('selected');
                    break;
                case aviso:
                    jQuery('#avisos').addClass('start active open');
                    jQuery('#avi').addClass('selected');
                    break;
                case general:
                    jQuery('#general').addClass('start active open');
                    jQuery('#gen').addClass('selected');
                    break;
            }            
        });
        </script>
     
</body>


</html>