{% extends '::frontend.html.twig' %}

{% block body -%}

    <div class="row">
       	<div class="col-xs-12 col-sm-12 com-md-12">
        	<h2><a href="{{ path('venta') }}">
            		Venta:
            	</a>
         		Editar
        	</h2>
    	</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
	        <div class="portlet light tasks-widget ">
	            <div class="portlet-title">
	                <div class="caption">
	                	<i class="icon-pencil font-green"></i>
	                    <span class="caption-subject font-green bold uppercase">Editar Venta</span>
	                </div>
	            </div>
	            <div class="portlet-body">
	                <div class="task-content">
   
                        {{ form_start(edit_form) }}

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2 col-md-2">
                                        Fecha Venta:
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        {{ form_widget(edit_form.fechaVenta,{"attr":{"class":"form-control"},"required":"true"}) }}
                                    </div>
                                </div>
                            </div> 
                           
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2 col-md-2">
                                        Usuarios:
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        {{ form_widget(edit_form.usuarios,{"attr":{"class":"form-control"},"required":"true"}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2 col-md-2">
                                        Producto:
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        {{ form_widget(edit_form.producto,{"attr":{"class":"form-control"},"required":"true"}) }}
                                    </div>
                                </div>
                            </div>

                             <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2 col-md-2">
                                        Cliente:
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        {{ form_widget(edit_form.cliente,{"attr":{"class":"form-control"},"required":"true"}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2 col-md-2">
                                        Estatus:
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        {{ form_widget(edit_form.estatus,{"attr":{"class":"form-control"},"required":"true"}) }}
                                    </div>
                                </div>
                            </div> 

                        {{ form_end(edit_form) }}
                    </div>
		        </div>
		    </div>
		</div>
	</div>    
{% endblock %}
