<tbody>
    {% for entity in entities %}
        <tr>                                        
            <td class="oculto"><a href="{{ path('venta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.equipo }}</td>  
            <td>{% if entity.fechaVenta %}{{ entity.fechaVenta|date('Y-m-d') }}{% endif %}</td> 
            <td>{{ entity.cliente }}</td>
            <td>{{ entity.termino }}</td>
            <td>{{ entity.estatus }}</td>
            <td>                                           
                <a href="{{ path('venta_show', { 'id': entity.id }) }}" class="btn yellow btn-outline">Ver</a>                                       
                <a href="{{ path('venta_edit', { 'id': entity.id }) }}" class="btn blue btn-outline">Editar</a>     
            </td>                               
        </tr>
    {% endfor %}    
</tbody>