{% extends '::frontend.html.twig' %}

{% block body -%}

    <div class="row">
        <div class="col-xs-12 col-sm-12 com-md-12">
            <h2><a href="{{ path('venta') }}">
               Venta:
                </a>
                Vista 
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-eye font-yellow"></i>
                        <span class="caption-subject font-yellow bold uppercase">Caracteristicas</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Fechaventa</th>
                                    <td colspan="2">Accion</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>                                    
                                    <td>{{ entity.id }}</td>                              
                                    <td>{{ entity.fechaVenta|date('Y-m-d H:i:s') }}</td>
                                    <td><a href="{{ path('venta_edit', { 'id': entity.id }) }}" class="btn blue btn-outline"> Edit </a></td>
                                    <td>{{ form(delete_form) }}</td>
                                </tr>
                            </tbody>
                        </table>
                     </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
