<tbody>
    {% for entity in entities %}
        <tr>
            <td class="oculto"><a href="{{ path('personal_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apePat }}</td>
            <td>{{ entity.apeMat }}</td>
            <td>{{ entity.telefono }}</td>
            <td>{{ entity.celular }}</td>
            <td>{{ entity.email }}</td>
            <td>
                <a href="{{ path('personal_show', { 'id': entity.id }) }}" class="btn yellow btn-outline">Ver</a>
                    
                <a href="{{ path('direccionpersonal_edit', { 'id': entity.id }) }}" class="btn blue btn-outline">Editar</a>
            </td>
        </tr>
    {% endfor %}
</tbody>