{% extends '::frontend.html.twig' %}

{% block body -%}
    
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12">
    		<h2><a href="{{ path('fabricante')}}">
                Fabricante: 
    		</a>
    		<span> Editar </span>   
    	    </h2>
    	</div>
    </div>

    <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
        	<div class="portlet light tasks-widget ">
            	<div class="portlet-title">
                	<div class="caption">
                		<i class="icon-share font-blue"></i>
                        <span class="caption-subject font-green bold uppercase">Nuevo Fabricante</span>
                	</div>
            	</div>
            	<div class="portlet-body">
                	<div class="task-content">

                        {{ form_start(edit_form) }}
                        	<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Razon Social:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.fabricante.razonSocial) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				RFC:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.fabricante.rfc) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2 col-md-2">
                                        Telefono 1:
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        {{ form_widget(edit_form.fabricante.telefono1) }}
                                    </div>
                                
                                    <div class="col-xs-12 col-sm-2 col-md-1">
                                        Extencion:
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        {{ form_widget(edit_form.fabricante.ext1) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2 col-md-2">
                                        Telefono 2:
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        {{ form_widget(edit_form.fabricante.telefono2) }}
                                    </div>
                                
                                    <div class="col-xs-12 col-sm-2 col-md-1">
                                        Extencion:
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        {{ form_widget(edit_form.fabricante.ext2) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Email:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.fabricante.email) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Pagina Web:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.fabricante.paginaWeb) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Estatus:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.fabricante.estatus,{"attr":{"class":"form-control"},"required":"true"}) }}
	                    			</div>
	                			</div>
	            			</div>
                            <div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Calle:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.calle) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Numero Ext:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.numeroExt) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Nuemero Int:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.numeroInt) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Colonia:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.colonia) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Codigo Postal:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.codigoPostal) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Localidad:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.localidad) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Pais:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.pais,{"attr":{"class":"form-control"},"required":"true"}) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Estado:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.estado,{"attr":{"class":"form-control"},"required":"true"}) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Municipio:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.municipio,{"attr":{"class":"form-control"},"required":"true"}) }}
	                    			</div>
	                			</div>
	            			</div>
	            	{{ form_end(edit_form) }}	
                    </div> 
                </div> 
            </div> 
        </div>
    </div>             	            		

      
{% endblock %}
