{% extends '::frontend.html.twig' %}

{% block body -%}

     <div class="row">
        <div class="col-xs-12 col-sm-12 com-md-12">
            <h2>
                Direccion Fabricante
            </h2>
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <h2 class="alert-success">{{ flashMessage }}</h2><br /><br />
    {% endfor %} 

     <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-dark">
                       <i class="icon-settings font-dark"></i>
                       <span class="caption-subject bold uppercase">Lista Direccion Fabricante</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group">
                                    <a href="{{ path('direccionfabricante_new') }}" class="btn green btn-outline">
                                        Crear nueva direccion fabricante
                                    </a>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_2">
                        <thead>
                            <tr>
                                <th class="oculto">Id</th>
                                <th>Calle</th>
                                <th>Numero ext</th>
                                <th>Numero int</th>
                                <th>Colonia</th>
                                <th>Codigo Postal</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td class="oculto"><a href="{{ path('direccionfabricante_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.calle }}</td>
                                <td>{{ entity.numeroExt }}</td>
                                <td>{{ entity.numeroInt }}</td>
                                <td>{{ entity.colonia }}</td>
                                <td>{{ entity.codigoPostal }}</td>
                                <td>
                                    <a href="{{ path('direccionfabricante_show', { 'id': entity.id }) }}" class="btn yellow btn-outline">Ver</a>
                                    
                                    <a href="{{ path('direccionfabricante_edit', { 'id': entity.id }) }}" class="btn blue btn-outline">Editar</a>                                    
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>                   
                </div>
            </div>
        </div>
    </div>                  
    {% endblock %}
