{% extends '::frontend.html.twig' %}

{% block body -%}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h2><a href="{{ path('usuarios') }}">
                 Usuarios:
                </a>
                Vista
            </h2>
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <h2 class="alert-success">{{ flashMessage }} </h2>
        <br /><br />
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-eye font-yellow"></i>
                        <span class="caption-subject font-yellow bold uppercase">Caracteristicas</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="general-item-list">
                        
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Nombre de usuario:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.userName }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Personal:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.personal }}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    Rol de usuario:
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    {{ entity.rol }}
                                </div>
                            </div>
                        </div><br />

                        {{ form(delete_form) }}
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}