{% extends '::frontend.html.twig' %}

{% block body -%}
    
    <div class="row">
       	<div class="col-xs-12 col-sm-12 com-md-12">
        	<h2><a href="{{ path('direccionpersonal') }}">
            		Direccion Personal:
            	</a>
         		Editar
        	</h2>
    	</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
	        <div class="portlet light tasks-widget ">
	            <div class="portlet-title">
	                <div class="caption">
	                	<i class="icon-pencil font-green"></i>
	                    <span class="caption-subject font-green bold uppercase">Editar Direccion Personal</span>
	                </div>
	            </div>
	            <div class="portlet-body">
	                <div class="task-content">

	                		{{ form_start(edit_form) }}

                			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Calle:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.calle) }}
	                    			</div>
	                			</div>
	            			</div>
                			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Numero Ext:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.numeroExt) }}
	                    			</div>
	                			</div>
	            			</div>
                			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Numero Int:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.numeroInt) }}
	                    			</div>
	                			</div>
	            			</div>
                			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Colonia:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.colonia) }}
	                    			</div>
	                			</div>
	            			</div>
                			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Codigo Postal:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.codigoPostal) }}
	                    			</div>
	                			</div>
	            			</div>
                			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Personal:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.personal,{"attr":{"class":"form-control"},"rewuired":"true"}) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Pais:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.pais,{"attr":{"class":"form-control"},"rewuired":"true"}) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Estado:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.estado,{"attr":{"class":"form-control"},"rewuired":"true"}) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Localidad:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.localidad,{"attr":{"class":"form-control"},"rewuired":"true"}) }}
	                    			</div>
	                			</div>
	            			</div>

						{{ form_end(edit_form) }}

					</div>
	        	</div>
	    	</div>
		</div>
	</div>

        
{% endblock %}
