<tbody>
    {% for entity in entities %}
        <tr>
            <td class="oculto"><a href="{{ path('equipo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.serieWarriors }}</td>
            <td>{% if entity.fechaLlegada %}{{ entity.fechaLlegada|date('Y-m-d') }}{% endif %}</td>
            <td>{{ entity.modeloEquipo }}</td>
            <td>{{ entity.fabricante }}</td>
            <td>
                <a href="{{ path('equipo_show', { 'id': entity.id }) }}" class="btn yellow btn-outline">Ver</a>
                                        
                <a href="{{ path('equipo_edit', { 'id': entity.id }) }}" class="btn blue btn-outline">Editar</a>
            </td>
        </tr>
    {% endfor %}
</tbody>