{% extends '::frontend.html.twig' %}

{% block body -%}
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 com-md-12">
            <h2><a href="{{ path('caracteristicasequipo') }}">
                Caracteristicas Equipo:
                </a>
                Vista 
            </h2>
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('mensaje') %}
        <h2 class="alert-success">{{ flashMessage }}</h2><br /><br />
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-eye font-yellow"></i>
                        <span class="caption-subject font-yellow bold uppercase">Caracteristicas</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Interfaces</th>
                                    <th>USB</th>
                                    <th>Expansion</th>
                                    <th>Procesador</th>
                                    <th>Capacidad</th>
                                    <th>Memoria Ram</th>
                                    <th>Disco Duro</th>
                                    <th>Software</th>
                                    <th>Dimensiones</th>
                                    <th>Equipo</th>
                                    <th colspan="2">Acciones</th>  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ entity.interfaz }}</td>
                                    <td>{{ entity.usb }}</td>
                                    <td><input type="checkbox" {% if  entity.expansion == 1 %} checked="checked" {% endif %}/></td>
                                    <td>{{ entity.procesador }}</td>
                                    <td>{{ entity.capacidad }}</td>
                                    <td>{{ entity.memoriaRam }}</td>
                                    <td>{{ entity.discoDuro }}</td>
                                    <td>{{ entity.software }}</td>
                                    <td>{{ entity.dimensiones }}</td>
                                    <td>{{ entity.equipo }}</td>
                                    <td><a href="{{ path('caracteristicasequipo_edit', { 'id': entity.id }) }}" class="btn blue btn-outline">
                                        Editar
                                        </a>
                                    </td>
                                    <td>{{ form(delete_form) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}