{% extends '::frontend.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h2><a href="{{ path('empresa') }}">
                   Empresa:
                </a>
                   Vista   
            </h2>
        </div>
    </div> 
    
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit ">   
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-eye font-yellow"></i>
                        <span class="caption-subject font-yellow bold uppercase">Caracteristicas</span>
                    </div>
                </div>

                 <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>                                   
                                    <th>Razon Social</th>
                                    <th>RFC</th>
                                    <th>Telefono</th>
                                    <th>Ext</th>
                                    <th>Telefono</th>
                                    <th>Ext</th>
                                    <th>Email</th>
                                    <th>Pagina Web</th>
                                    <th>Estatus</th>
                                    <th colspan="2">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>                                            
                                    <td>{{ entity.razonSocial }}</td>                
                                    <td>{{ entity.rfc }}</td>                
                                    <td>{{ entity.telefono1 }}</td>                
                                    <td>{{ entity.ext1 }}</td>             
                                    <td>{{ entity.telefono2 }}</td>               
                                    <td>{{ entity.ext2 }}</td>                
                                    <td>{{ entity.email }}</td>                
                                    <td>{{ entity.paginaWeb }}</td>
                                    <td>{{ entity.estatus}}</td>
                                    <td><a href="{{ path('empresa_edit', { 'id': entity.id }) }}"class="btn blue btn-outline">
                                        Editar</a></td>
                                    <td>{{ form(delete_form) }}</td>
                                </tr>
                            </tbody>
                        </table>      
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
