{% extends '::frontend.html.twig' %}

{% block body -%}
    
     <div class="row">
    	<div class="col-xs-12 col-sm-12 com-md-12">
        	<h2><a href="{{ path('especificacionesequipo') }}">
            	Especificaciones Equipo:
        	</a>
        	<span>
            	Nuevo
        	</span></h2>
    	</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
        	<div class="portlet light tasks-widget ">
            	<div class="portlet-title">
                	<div class="caption">
                		<i class="icon-share font-blue"></i>
                        <span class="caption-subject font-green bold uppercase">Nueva Memoria Ram</span>
                	</div>
            	</div>
            	<div class="portlet-body">
                	<div class="task-content">

    					{{ form_start(form) }}

    						<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Numero de interfaces:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(form.numeroInterfaces) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Numero de USB:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(form.numeroUsb) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Expansion:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(form.expansion) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Procesador:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(form.procesador,{"attr":{"class":'form-control'}}) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Capacidad:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-2 col-md-2">
	                    				{{ form_widget(form.capacidad,{"attr":{"class":'form-control'}}) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Memoria ram:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(form.terminoMemoria,{"attr":{"class":'form-control'}}) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Disco Duro:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(form.terminoDisco,{"attr":{"class":'form-control'}}) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Software:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-2 col-md-2">
	                    				{{ form_widget(form.versionSoftware,{"attr":{"class":'form-control'}}) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Dimenciones:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(form.dimenciones,{"attr":{"class":'form-control'}}) }}
	                    			</div>
	                			</div>
	            			</div>


            			{{ form_end(form) }}

            		</div>
		        </div>
		    </div>
		</div>
	</div>
        
{% endblock %}
