<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Licencias WD</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
        
        <link href="{{ asset('public/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('public/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        
        <link href="{{ asset('public/global/css/components.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ asset('public/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />
        
        <link href="{{ asset('public/pages/css/login.min.css') }}" rel="stylesheet" type="text/css" />
        
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    

    <body class=" login">
       
        <div class="logo">
                <img src="{{ asset('public/pages/img/logo-big.png') }}" alt="" /> </a>
        </div>
      
        <div class="content">
           
            <form class="login-form" action="{{ path('login_check') }}" method="post">
                <h3 class="form-title font-green">Registrarse</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Introdusca Usuario y Password. </span>
                </div>
                <div class="form-group">
                   
                    <label class="control-label visible-ie8 visible-ie9">Usuario</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Usuario" name="_username" /> </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="_password" /> </div>
                <div class="form-actions">
                    <button type="submit" class="btn green uppercase">Iniciar sesión</button>
                     {% if error %}<div class="text-danger mr10 pull-right">{{ error.message }}</div>{% endif %}
                    <label class="rememberme check">
                        <input type="checkbox" name="remember" value="1" />Mantener la sesión iniciada </label>
                </div>
            </form>
           
        </div>
        <div class="copyright"> 2016 © Warriors Labs. </div>
   
        <script src="{{ asset('public/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/js.cookie.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/uniform/jquery.uniform.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
       
        <script src="{{ asset('public/global/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/jquery-validation/js/additional-methods.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('public/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
       
        <script src="{{ asset('public/global/scripts/app.min.js') }}" type="text/javascript"></script>
        
        <script src="{{ asset('public/pages/scripts/login.min.js') }}" type="text/javascript"></script>
        

</body>


</html>