{% extends '::frontend.html.twig' %}

{% block body -%}
    
    <div class="row">
       	<div class="col-xs-12 col-sm-12 com-md-12">
        	<h2><a href="{{ path('memoriaram') }}">
            		Memoria Ram:
            	</a>
         		Editar
        	</h2>
    	</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
	        <div class="portlet light tasks-widget ">
	            <div class="portlet-title">
	                <div class="caption">
	                	<i class="icon-pencil font-green"></i>
	                    <span class="caption-subject font-green bold uppercase">Editar Memoria Ram</span>
	                </div>
	            </div>
	            <div class="portlet-body">
	                <div class="task-content">

	    				{{ form_start(edit_form) }}

	    					<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Marca:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.marca) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Modelo:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.modelo) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Capacidad:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.capacidad) }}
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.unidad) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Tipo:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.tipo) }}
	                    			</div>
	                			</div>
	            			</div>
	            			<div class="form-group">
	    						<div class="row">
	    							<div class="col-xs-12 col-sm-2 col-md-2">
	                    				Termino:
	                    			</div>
	                    			<div class="col-xs-12 col-sm-3 col-md-3">
	                    				{{ form_widget(edit_form.terminoMemoria) }}
	                    			</div>
	                			</div>
	            			</div>

	            		{{ form_end(edit_form)}}

	            		<br/>
	 					{{ form(delete_form) }}
					</div>
	        	</div>
	    	</div>
		</div>
	</div>
{% endblock %}
